# SPDX-License-Identifier: GPL-2.0

config DRM_POWERVRSGX
	tristate "PowerVR SGX (DRM support for PowerVR Serie 5 SGX GPUs)"
	depends on DRM
	depends on ARM || COMPILE_TEST
	depends on MMU
	select DRM_SCHED
	select DRM_GEM_SHMEM_HELPER
	help
	  DRM driver for PowerVR Serie 5 SGX GPUs.
